#notes {
    position: absolute;
    top: 25%;
    margin: 0 1em;
    width: 100%;
    padding-bottom: 5%;
}

.note {
    border: solid white 1px;
    min-width: 10%;
    max-width: 20%;
    display: inline-block;
    vertical-align: top;
    margin: 0 1em 2em 1em;
}

.note-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    word-wrap: normal;
    border: solid white 1px;
}

.title {
    font-weight: bolder;
    margin: 0 1em;
    word-wrap: anywhere;
}

.note-desc {
    margin: 1em;
    word-wrap: break-word;
}

button {
    border: solid white 1px;
}

.note-creation-date {
    border: solid white 1px;
    color: rgba(255, 255, 255, 0.5);
    text-align: center;
    padding: .25em 1em;
}