html {
    background-color: black;
    color: white;
}

body {
    margin: 0;
    padding: 0;
}

#menu > div {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    text-align: center;
    width: 100%;
}

#menu img {
    width: 360px;
    height: 80px;
}

#buttonsMenu {
    font-size: large;
    margin: 1em 0;
}

button {
    border: solid white 1px !important;
    margin: 0 2em ;
}

.mat-mdc-button:hover .mat-mdc-focus-indicator {
    border: solid white 1px;
    background-color: rgb(50, 50, 50);
}

.contentFields {
    opacity: 0;
}

input {
    color:white;
}

footer {
    width: 100%;
    position: fixed;
    bottom: 0;
    text-align: center;
    padding: .25em 0;
    background-color: black;
}

footer svg {
    filter: invert(100%);
    width: 36px;
    height: 36px;
}